We've received a request to reset your password for email {{ email }}. 

If you didn't make this request, you can safely ignore this email. 

Otherwise, Follow the link below to reset your password.

{{ protocol }}://{{ domain }}{% url "password_reset_confirm" uidb64=uid token=token %}
Your username, in case you've forgotten: {{ user.get_username }}

<!-- Content-Type: text/plain; charset="utf-8"
MIME-Version: 1.0
Content-Transfer-Encoding: 7bit
Subject: Password reset on example.com
From: =?utf-8?b?5rOo5YaM56Gu6K6k?= <llsites@163.com>
To: 
Date: 
Message-ID: <160413321929.10928.13142385528275645301@Flames>


Hello from !

We've received a request to reset your password for email sunnysky123@126.com.
If you didn't make this request, you can safely ignore this email. Otherwise, cl
ick the button below to reset your password.

Follow the link below:
http://example.com/users/reset/MQ/acm8o3-a3df5d8d942f66d87b67ee393194d7f0/
Your username, in case you've forgotten: test -->